@font-face {
    font-family: "Tektur";
    src: url("Assets/Fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf");  }
@font-face {
    font-family: "Wavefont";
    src: url("Assets/Fonts/Wavefont/Wavefont-VariableFont_ROND,YELA,wght.ttf");
}

a{
    color: #ff9fec;
    text-decoration: none;
}

body{
    background-color: #110015;
    // background-color: #f1c8e9;
}

.FaixaSuperior{
    background-color: #71167c;
    //background-color: #b48eab;
    height: 40px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 10px;
    top: 0;
    left: 0;
}

.IconeDoSite{
    font-family:"Wavefont", sans-serif;
    color: #ff9fec;
    margin-right: 5px;
}

.NomeDoSite{
    font-family: "Tektur", sans-serif;
    color: #ff9fec;
    font-size: larger;
    margin-right: 5px;
}

.Icones{
    fill: #ff9fec;
}

.OutrasPaginas{
    align-content: center;
    font-family: "Tektur", sans-serif;
    color: #ff9fec;
    font-size: medium;
    margin-left: 10px;
}

.AscArt {
    font-family: "Unispace", sans-serif;
    font-size: 3px;
    margin-top: 40px;
    color: #71167c;
    width: 100%;
    height: auto;
    white-space: pre;
}