@font-face {
    font-family: "Tektur";
    src: url("Assets/Fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf");  }
@font-face {
    font-family: "Wavefont";
    src: url("Assets/Fonts/Wavefont/Wavefont-VariableFont_ROND,YELA,wght.ttf");
}
@font-face {
    font-family: "Monospaced";
    src: url("Assets/Fonts/SourceCodePro/static/SourceCodePro-Bold.ttf");
    /*src: url("Assets/Fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf");*/
}

:root {
    --darkmode-darkpurple: #450b4c;
    --darkmode-pink: #ff9fec;
    --darkmode-pinkgrey: rgba(248, 167, 212, 0.47);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--darkmode-pinkgrey);
}

.header {
    background-color: var(--darkmode-darkpurple);
    color: var(--darkmode-pink);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--darkmode-pink);
    font-family: "Tektur", sans-serif;
    font-size: 1.3rem;
}
.logo img {
    height: 40px;
    margin-right: 10px;
}
.logo:hover {
    border: #f1c8e9;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}
.nav-button {
    background: none;
    border: none;
    color: var(--darkmode-pink);
    cursor: pointer;
    font-family: "Tektur", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.8s ease, border-radius 0.3s ease;
    border-radius: 5px;
}
.nav-button:hover {
    background-color: var(--darkmode-pinkgrey);
    border-radius: 15px;
}

.right-section {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
}

.AscArtSalmaze{
    font-family: "Monospaced", sans-serif;
    font-size: 1rem;
    margin-top: 40px;
    color: #71167c;
    width: 100%;
    white-space: pre;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.theme-toggle svg {
    width: 24px;
    height: 24px;
}