@font-face {
    font-family: "Tektur";
    src: url("Assets/Fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf");  }
@font-face {
    font-family: "Wavefont";
    src: url("Assets/Fonts/Wavefont/Wavefont-VariableFont_ROND,YELA,wght.ttf");
}

a{
    color: #ff9fec;
    text-decoration: none;
}

body{
    background-color: #110015;
    // background-color: #f1c8e9;
}

.FaixaSuperior{
    background-color: #450b4c;
    //background-color: #b48eab;
    height: 40px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 10px;
    top: 0;
    left: 0;
}

.IconeDoSite{
    font-family:"Wavefont", sans-serif;
    color: #ff9fec;
    margin-right: 5px;
}

.NomeDoSite{
    font-family: "Tektur", sans-serif;
    color: #ff9fec;
    font-size: larger;
    margin-right: 5px;
}

.Icones{
    fill: #ff9fec;
    justify-content: flex-end;
    margin-right: 20px;
}

.OutrasPaginas{
    align-content: center;
    font-family: "Tektur", sans-serif;
    color: #ff9fec;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
}

.Elemento{
    padding-right: 40px;
    padding-left: 40px;
}

.AscArt {
    font-family: "Unispace", sans-serif;
    font-size: 5.4px;
    margin-top: 40px;
    color: #71167c;
    width: 100%;
    height: auto;
    white-space: pre;
}

.BodyCentralizado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.Titulo{
    color: #ff9fec;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

.SubTitulo{
    color: #ff9fec;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Topico{
    text-align: center;
    margin-top: 20px;
}

.Texto{
    color: #ff9fec;
    font-size: 16px;
    max-width: 600px; /* Defina a largura máxima do texto */
    text-align: center;
    margin: 0 auto 20px;
}

.IconesNoTexto{
    color: #ff9fec;
    font-size: 16px;
    max-width: 600px; /* Defina a largura máxima do texto */
    text-align: center;
    margin: 0 auto 20px;
}